<div [appChangeBorder]="course.creationDate" class="card mb-3">
  <div class="card-body d-flex">
    <div class="content w-75">
      <div class="d-flex justify-content-between mb-3">
        <div class="title d-flex align-items-center">
          <h3 class="card-title mb-0">{{ course.title | uppercase }}</h3>
        </div>
        <div class="info d-flex align-items-center justify-content-end">
          <div class="info_item me-4">
            <fa-icon [icon]="clock"></fa-icon>
            {{ course.duration | duration }}
          </div>
          <div id="date" class="info_item me-4">
            <fa-icon [icon]="calendar"></fa-icon>
            {{ course.creationDate | transformDate | date }}
          </div>
          <div class="info_item slice">
            <span><b>Authors: </b>{{  authors$ | async | authors }}</span>
          </div>
        </div>
      </div>
      <p class="card-text">{{ course.description }}</p>
    </div>
    <div
      class="btn-block d-flex align-items-center w-25 justify-content-center flex-wrap"
    >
      <button
        *ngIf="role === 'admin'"
        [routerLink]="['/courses', course.id]"
        class="btn btn-info me-3"
      >
        <fa-icon class="me-2" [icon]="pencil"></fa-icon> Edit
      </button>
      <button
        *ngIf="role === 'admin'"
        (click)="deleteHandler()"
        class="btn btn-info"
      >
        <fa-icon [icon]="trash"></fa-icon> Delete
      </button>
      <button [routerLink]="['/courses/info', course.id]" class="btn btn-info">
        <fa-icon [icon]="info"></fa-icon> Show info
      </button>
    </div>
  </div>
</div>
