.card {
  color: black;

  .star {
    font-size: 22px;
    margin-left: 15px;
    color: #fdc005;
  }

  .slice {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
  }
}

