.card {
  color: black;

  .info {
    max-width: 80%;

    &_item {
      color: #414453;
      display: inline-block;
      max-width: 65%;
      min-width: 110px;
    }
    &_item:first-child {
      min-width: 70px;
    }
  }

  .star {
    font-size: 22px;
    margin-left: 15px;
    color: #fdc005;
  }

  .slice {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

