<div class="container">
  <div class="d-flex justify-content-end add-btn-block mb-3">
    <button
      [routerLink]="['../courses/new']"
      routerLinkActive="active"
      class="btn btn-info"
    >
      <fa-icon class="me-2" [icon]="plus"></fa-icon> Add course
    </button>
  </div>
  <ng-container
    *ngFor="
      let course of courses$
        | async
        | filter: searchText
        | orderBy: 'creationDate';
      trackBy: trackByID
    "
  >
    <app-course-item
      *ngIf="course; else noData"
      (deleteCourse)="deleteCourse($event)"
      [course]="course"
    ></app-course-item>
  </ng-container>
</div>

<ng-template #noData>
  <div class="container">
    <h3 class="mt-4 text-center text-black">
      NO DATA. FEEL FREE TO ADD NEW COURSE
    </h3>
  </div>
</ng-template>
