<div *ngIf="filteredCourses.length; else noData" class="container">
  <div class="d-flex justify-content-end add-btn-block mb-3">
    <button [routerLink]="['../courses/new']" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-info"><fa-icon class="me-2" [icon]="plus"></fa-icon>Add course</button>
  </div>
  <app-course-item (deleteCourse)="deleteCourse($event)" *ngFor="let course of filteredCourses | orderBy:'creationDate'; trackBy: trackByID" [course]="course"></app-course-item>
  <a (click)="loadMoreHandler()" class="link-info card p-3 text-center" id="loadMoreBtn">Load more</a>
</div>

<ng-template #noData>
  <div class="container">
    <h3 class="mt-4 text-center text-black">NO DATA. FEEL FREE TO ADD NEW COURSE</h3>
  </div>
</ng-template>
