<div class="container pt-3">
  <div class="card m-auto">
    <div class="card-header">
      <h2 class="card-title">New course</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
        <course-base-info></course-base-info>
        <course-add-author></course-add-author>
        <div class="mt-3">
          <button
            [disabled]="courseForm.invalid"
            type="submit"
            class="btn btn-success me-3"
          >
            Save
          </button>
          <button routerLink="/courses" type="button" class="btn btn-danger">
            Cancel
          </button>
        </div>
      </form>
      <course-create-author></course-create-author>
    </div>
  </div>
</div>
