<div class="container mt-5">
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-center">
      <button class="btn btn-primary me-auto" (click)="navigateBack()">
        &#60; Back to courses
      </button>
      <h2 class="position-absolute">{{ course?.title }}</h2>
    </div>
    <div class="card-body">
      <div class="d-flex">
        <div class="description w-75">
          {{ course?.description }}
        </div>
        <div class="info">
          <p>
            <b>ID: {{ course?.id }}</b>
          </p>
          <p><b>Duration: </b>{{ course?.duration | duration }}</p>
          <p>
            <b>Created: </b>{{ course?.creationDate | transformDate | date }}
          </p>
          <p><b>Authors: </b>{{ authors | authors }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
